/*!
---------------------------------------------
Client:	
Author:	Lofty Word (http://www.loftyword.com)
            __          __           __
-----------/ /\--------/ /\---------/ /\-----
----------/ / /-------/ / /--------/ / /-----
---------/ / /-------/ / /--__----/ / /------
--------/ / /-------/ / /--/ /\--/ / /-------
-------/ / /-------/ / /--/ / /-/ / /--------
------/ /_/____---/ /_/--/ /_/-/ / /---------
-----/________/\-/______________/ /----------
-----\________\/-\______________\/-----------

--------------------------------------------- 
*/

@import url("normalize.less");
@import url("grid.less");

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic);

/*------------------------------------------------*/
/* Variables SECTION START*/
/*------------------------------------------------*/
@link-color: #0054a6;
@link-hover: lighten(@link-color, 10%);
@link-active: darken(@link-color, 10%);

@error-color: #900;
@error-hover: lighten(@error-color, 10%);
@error-active: darken(@error-color, 10%);

@success-color: #6ca546;
@success-hover: lighten(@success-color, 10%);
@success-active: darken(@success-color, 10%);

@serif: Georgia, Times, serif;
@sans: Helvetica, Arial, Verdana, sans-serif;
@source-sans: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;

@base-font-size: 1.8em;

/*------------------------------------------------*/
/* Main Layout SECTION START*/
/*------------------------------------------------*/
html { -webkit-text-size-adjust:none; margin: 0px; padding: 0px; }

body {
font-family: @sans;
font-size: 62.5%;
background: #fff;
color: #444;
padding: 0px;
margin: 0px;
}

#main-container { position: relative; }
#responsive { height: 1px; display: none; }

h1,h2,h3,h4,h5,h6 { font-family: @source-sans; font-weight: normal; font-weight: 700; line-height: normal; }
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a { color: @link-color; text-decoration: none; }

a {
color: @link-color;
text-decoration: none;
font-weight: bold;
-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
-moz-transition: 	background-color 0.1s ease-in-out, color 0.1s ease-in-out;
-ms-transition: 	background-color 0.1s ease-in-out, color 0.1s ease-in-out;
transition: 		background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	
	&:hover { color: @link-hover; text-decoration: underline; }
	
	&:active {
	color: @link-active; 
	-webkit-transition: none;
	-moz-transition: 	none;
	-ms-transition: 	none;
	transition: 		none;	
	}
}

hr {
height: 1px;
color: #ececec;
background: #ececec;
border: 0px solid #ececec;
margin: 15px 0px;
}

img { max-width: 100%; height: auto; }

.error { color: @error-color; }
.success { color: @success-color; }

.xsmall { font-size: 10px; }
.small { font-size: 12px; }
.large { font-size: 2.0em; }
.xlarge { font-size: 3.0em; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.pull-right { float: right !important; }
.pull-left { float: left !important; }

.show { display: block !important; }
.hide { display: none !important; visibility: hidden !important; }

.clear:before, .clear:after { content: " "; display: table; }
.clear:after { clear: both; }
.clear { zoom: 1; clear: both; }

@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";
.at2x(@path, @w: auto, @h: auto) {
background-image: url(@path);
@at2x_path: ~`@{path}.replace(/\.\w+$/, function(match) { return "@2x" + match; })`;
background-repeat: no-repeat;
 	@media @highdpi {
	background-image: url("@{at2x_path}");
	background-size: @w @h;
	}
}


/*------------------------------------------------*/
/* Header SECTION START*/
/*------------------------------------------------*/
header {
padding: 25px 0px;
	
	.row { position: relative; }
	
	.logo {
	.make-xs-column(8);
	.make-sm-column(3);
	text-align: center;
	
		a img {
		-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: 	opacity 0.2s ease-in-out;
		-ms-transition: 	opacity 0.2s ease-in-out;
		transition: 		opacity 0.2s ease-in-out;
		}
		
		a:hover img { opacity: .7; }
	}
	
	.shopping-meta { display: none; }
}


/*------------------------------------------------*/
/* Nav SECTION START*/
/*------------------------------------------------*/
.nav-button {
.make-xs-column(4);
display: block;
margin-top: 20px;

	a {
	padding: 18px 10px 10px 10px;
	background: @link-color;
	text-decoration: none;
	text-align: center;
	z-index: 20;
	outline: none;
		
		&:hover { cursor: pointer; background: @link-hover; }
	}
}

nav {
display: none;
.make-sm-column(9);
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
padding-right: 0px !important;
width: 100%;
background: #fff;
box-shadow: inset 0px 10px 10px -10px rgba(0,0,0,0.3), inset 0px -10px 10px -10px rgba(0,0,0,0.3);

	@-webkit-keyframes nav-ani {
		0% { opacity: 0; }
		100% { opacity: 1;}
	}

	&.nav-on {
	display: inline-block;
	margin-top: 25px;
	padding-left: 0px;
	
	-webkit-animation-duration:.65s;
	animation-duration:.65s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name: nav-ani;
	animation-name: nav-ani;
	}

	ul {
	margin: 0px;
	padding: 0px;
	
		li {
		list-style: none;
		padding: 0px;
		margin: 0px;
		
			a {
			display: block;
			text-align: left;
			color: @link-color;
			text-transform: uppercase;
			padding: 15px;
			border-bottom: 1px solid #ececec;
			
				&:hover {
				color: @link-hover;
				text-decoration: none;
				background: rgba(255,255,255,0.2);
				}
			}
		}
	}
}


/*------------------------------------------------*/
/* Content SECTION START*/
/*------------------------------------------------*/
p, h1, h2, h3, h4, h5, h6, ol, ul, pre,
table, address, fieldset, figure, form { margin: 0px; }

h1 { font-size: 6.0em; font-family: @source-sans; font-weight: 700;; }
h2 { font-size: 2.0em; font-family: @source-sans; font-weight: 700;; }
h3 { font-size: 1.7em; font-family: @source-sans; font-weight: 400; font-style: italic; }
h4 { font-size: 1.4em; }

p {
font-size: @base-font-size;
margin: 10px 0 20px 0; 
	&.leadin { font-size: 1.25em; }
}

ul, ol {
font-size: @base-font-size;
margin: 15px 0px 15px 0px; 
	li { font-size: .9em; margin: 4px 0px; }
}

table { font-size: @base-font-size; margin: 15px 0px; }
form { margin: 15px 0px; }

h1 + h2, h2 + h3, h3 + h4 { margin-top: 20px; }

p + h2, p + h3, p + h4,
ul + h2, ul + h3, ul + h4,
ol + h2, ol + h3, ol + h4,
hr + h2, hr + h3, hr + h4,
table + h2, table + h3, table + h4,
form + h2, form + h3, form + h4 { margin-top: 40px; }

.breadcrumbs {
font-size: 12px;
color: #a1a1a1;
margin: .75em 0 3em;
	a { color: #a1a1a1; }
	span { margin: 0 5px; }
}

blockquote {
text-align: center;
margin: 6em auto;
	.quote {
	font-size: 1.8em;
	line-height: 1.4em;
	color: #707b88;
	margin-bottom: 1em;
	}
	.author { 
		
	}
}


/*------------------------------------------------*/
/* Homepage SECTION START*/
/*------------------------------------------------*/
.hero {
color: #fff;
text-align: center;
background-color: #0086e7;
background-image: url(../images/temp-hero-back.jpg);
background-position: center center;
background-size: cover;

padding: 0px 0px 175px 0px;

	h1 {
	font-size: 4.6em;
	text-transform: uppercase;
	line-height: 1.0em;
	margin-top: 80px;
	
		em { font-weight: 400; text-transform: none; }
	}
	
	p { margin: 40px 0px; }
}

.home-feature {

	h2 {
	font-size: 6.0em;
	line-height: 1.0em;
	text-transform: uppercase;
	margin-top: 125px;
	}
	
	h3 {
	color: #92a1b0;
	font-size: 3.4em;
	}
}


/*------------------------------------------------*/
/* Buttons & Specials SECTION START*/
/*------------------------------------------------*/
.button {
-webkit-appearance: none;
display: inline-block;
font-family: @source-sans;
text-transform: uppercase;
color: #fff;
font-weight: bold;
font-size: 1.1em;
padding: .9em 2em;
background: @link-color;
border: 0px;
text-align: center;

-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
-moz-transition: 	background-color 0.1s ease-in-out, color 0.1s ease-in-out;
-ms-transition: 	background-color 0.1s ease-in-out, color 0.1s ease-in-out;
transition: 		background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	
	&:hover { color: #fff; text-decoration: none; background: @link-hover; border: 0px; }
	&:active {
	background: @link-active;
	border: 0px;
	-webkit-transition: none;
	-moz-transition: 	none;
	-ms-transition: 	none;
	transition: 		none;
	}
	
	&.outline {
	background: none;
	border: 2px solid @link-color;
		
		&:hover { border: 2px solid @link-hover; background: @link-hover; }
		&:active { border: 2px solid @link-active; background: @link-active; }
		
		&.white { border-color: rgba(255,255,255,1.0);
			&:hover { border-color: rgba(255,255,255,0.8); }
			&:active { color: rgba(255,255,255,.8); }
		}
	}
	
	&.btn-error { 
	background: @error-color !important; 
		&:hover { background: @error-hover !important; }
		&:active { background: @error-active !important; }
	}
	
	&.btn-success { 
	background: @success-color !important; 
		&:hover { background: @success-hover !important; }
		&:active { background: @success-active !important; }
	}
}


/*------------------------------------------------------------------*/
/* Forms SECTION START*/
/*------------------------------------------------------------------*/
input[type=submit], input[type=cancel], input[type=button] { -webkit-appearance: none; }

input[type=text], input[type=password], input[type=tel],
input[type=number], input[type=url], input[type=email], textarea {
-webkit-appearance: none;
font-family: @sans;
color: #666;
font-size: 1.4em;
padding: .5em;
border-radius: 4px;
border: 1px solid #ccc;
max-width: 100%;
	
	&:focus { background: #f9fdff; outline: none; }
}

input[type=submit], input[type=button] {
font-family: @sans;
display: inline-block;
color: #fff;
font-size: 1.4em;
font-weight: bold;
padding: .5em .8em;
border-radius: 4px;
border: 0px;
background: @link-color;	
-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
-moz-transition: 	background-color 0.1s ease-in-out, color 0.1s ease-in-out;
-ms-transition: 	background-color 0.1s ease-in-out, color 0.1s ease-in-out;
transition: 		background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

input[type=submit]:hover, input[type=button]:hover { background: @link-hover; cursor: pointer; }

input[type=submit]:active, input[type=button]:active {
color: #e1e1e1;
background: @link-active;
-webkit-transition: none;
-moz-transition: 	none;
-ms-transition: 	none;
transition: 		none;
}



/*------------------------------------------------*/
/* Footer SECTION START*/
/*------------------------------------------------*/
footer {}


/*------------------------------------------------*/
/* Fonts SECTION START*/
/*------------------------------------------------*/
@font-face {
font-family: 'NAME';
src: url('../fonts/NAME.eot');
src: url('../fonts/NAME.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/NAME.woff') format('woff'),
	 url('../fonts/NAME.ttf') format('truetype');
}


/*------------------------------------------------*/
/* Plugin Styles SECTION START*/
/*------------------------------------------------*/


/*-------------------------------------------------------*/
/* Print Styles SECTION START - From Bootstrap v3.0.2    */
/*-------------------------------------------------------*/
@media print {
  * { text-shadow: none !important; color: #000 !important; background: transparent !important; box-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }

  @page  { margin: 2cm .5cm; }
  p,h2,h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  select { background: #fff !important; }
  .table td, .table th { background-color: #fff !important; }
  .label { border: 1px solid #000; }
  .table { border-collapse: collapse !important; }
}


/*------------------------------------------------*/
/* IE Fixes SECTION START*/
/*------------------------------------------------*/


@import url("responsive.less");