/*------------------------------------------------ */
/* Mobile (Landscape) */
/*------------------------------------------------ */	
@media only screen and (min-width: 480px) {
#responsive { height: 2px; }
	
}


/*------------------------------------------------ */
/* Tablet & Small Monitor */
/*------------------------------------------------ */
@media only screen and (min-width: 768px) {
#responsive { height: 3px; }
	
	/* Header */
	header {
	
		.logo { text-align: left; }
		
		.shopping-meta {
		display: block;
		position: absolute;
		right: 15px;
		top: 0px;
		
			a { color: #fff; padding: 4px 0px; margin-left: 15px; }
		
			.login {
			background: url(../images/icon-user.png) 0px 0px no-repeat;
			padding-left: 20px;
			}
			
			.cart {
			background: url(../images/icon-cart.png) 0px 0px no-repeat;
			padding-left: 20px;
			}
		}
	}
	
	/* Nav */
	.nav-button { display: none; }
	
	nav {
	display: block;
	text-align: right;
	margin-top: 30px;
	background: none;
	box-shadow: none;
		
		ul li {
		display: inline-block;
		margin: 0px 0px;
		
			a {
			font-size: 0.9em;
			color: #fff;
			border-bottom: 0px;
			padding: 10px 15px;
			
				&:hover { color: #fff; }
			}
		}
	}
	
	/* Homepage */
	.hero {
		h1 { font-size: 5.4em; }
	}
	
	.home-feature {
	background: #fff url(../images/temp-home-feature.jpg) right top no-repeat;
	}
	

}


/*------------------------------------------------ */
/* Desktop - 992px */
/*------------------------------------------------ */
@media only screen and (min-width: 992px) {
#responsive { height: 4px; }

	/* Header */
	nav {
		ul li {
			a { font-size: 1.1em; margin-left: 10px; }
		}
	}
		
}


/*------------------------------------------------ */
/* Large Desktop - 1200px */
/*------------------------------------------------ */
@media only screen and (min-width: 1200px) {
#responsive { height: 5px; }

		

}
